span{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    div{
        h1{
            font-family: 'Bebas Neue', cursive;
            font-size: 48px;
            text-align: center;
            margin: 0px;
            width: 100%;
            bottom:0px;
        }
    }
    h4{
            text-align: center;
            padding: 20px;
            line-height: 50px;
            letter-spacing: 10px;
    }
    
}